<section>
  <nav class="navbar navbar-default" style="background: none; border-radius: 0">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/" style="padding: 8px 15px;">
          <img alt="Nextopic Logo" src="assets/images/logo.png" style="width: 168px; height: 42px;">
        </a>
      </div>
      <div id="navbar">
        <p class="navbar-text navbar-right">
          <span style="font-weight: 700"><i class="fa fa-phone"></i> <a href="tel:+97235606766" class="navbar-link">Call Us Now! +972-3-5606766</a></span>
        </p>
      </div>
    </div>
  </nav>
</section>

<div class="container form-container">
  <form #form="ngForm" id="form" [ngClass]="{'submitted':submitted}" (ngSubmit)="getData(form)">
    <div class="row">
      <div class="col-4">
        <label for="SortSelect">Sort By</label>
      </div>
      <div class="col-4">
        <label for="limit">Record Limit</label>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <select name="sort" class="form-control" [(ngModel)]="sort" id="SortSelect">
          <option value="1">Price</option>
          <option value="2">Market Cap</option>
        </select>
      </div>

      <div class="col-4">
        <input #limit_field="ngModel" id="limit" name="limit" [(ngModel)]="limit" type="number" class="form-control" max="500" min="1" maxlength="3" (change)="checkLimit()" required>
      </div>

      <div class="col-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <span *ngIf="(limit_field.invalid || !limitIsvalid )&& (submitted || limit_field.touched)" class="error">
          Record limit must be a number between 1 and 500.
        </span>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <div *ngIf="dataError" class="error">
    Error retrieving crypto data.
  </div>

  <div *ngIf="data">
    <p-table [value]="data" [scrollable]="true" scrollHeight="400px">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Price</th>
          <th>Market Cap</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{row.name}}</td>
          <td>{{row.symbol}}</td>
          <td>{{row.metrics.market_data.price_usd | number}}</td>
          <td>{{row.metrics.marketcap.current_marketcap_usd | number}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
